<div class="front-page-container">
	<div class="title">
		<h1 class="title-big">{{ prevViewed[0].title }}</h1>
		<h3 class="sub-big">{{ prevViewed[0].series ? prevViewed[0].series + ": ep. " + prevViewed[0].episode :
			prevViewed[0].shortDesc }}</h3>
	</div>
	<img class="recently-watched-img" (click)="goToVideo(prevViewed[0].id)" src="{{ prevViewed[0].poster }}"
		alt="Most recently watched video">

	<app-movie-card class="prev-viewed-card-1" [elem]="prevViewed[1]" [hasDescription]="false"></app-movie-card>
	<app-movie-card class="prev-viewed-card-2" [elem]="prevViewed[2]" [hasDescription]="false"></app-movie-card>
	<app-movie-card class="prev-viewed-card-3" [elem]="prevViewed[3]" [hasDescription]="false"></app-movie-card>

</div>