.list-page-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: min-content;
    gap: 20px;

    padding-top: 85px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    justify-items: center;
}

.no-results-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}