.viewer-page-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.title {
	padding-left: 100px;
	height: 80px;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.title-big {
	font-weight: 400;
	margin: 0;

	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.sub-big {
	font-weight: 200;
	margin: 0;

	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.video-wrapper {
	align-self: center;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 25px;
}

video {
	cursor: pointer;
}

.next,
.back {
	font-size: 35px;
	width: 35px;
	height: 35px;
}