<div class="viewer-page-container">
	<h1 class="title-big">{{videoName}}</h1>
	<h3 class="sub-big">{{seriesName}}</h3>
	<video width="1280px" height="720px" controls preload="none" poster="../../assets/dev_assets/dev-poster.png">
		<source src="../../assets/dev_assets/I_Truly_Am_Becoming_A_One_Man_Army.mp4" type='video/mp4' />
	</video>
	<div class="action-bar">
		<button mat-fab color="primary">
			<mat-icon class="back">skip_previous</mat-icon>
		</button>
		<button mat-fab color="primary">
			<mat-icon class="next">skip_next</mat-icon>
		</button>
	</div>
</div>