<mat-card (click)="goToVideo(elem?.id)"
	[ngStyle]="!hasDescription ? {'min-height' : 'unset', 'max-width' : 'unset'} : null">
	<mat-card-header>
		<mat-card-title>{{ elem?.title }}</mat-card-title>
		<mat-card-subtitle>{{ elem?.series ? elem?.series : 'Movie' }}</mat-card-subtitle>
	</mat-card-header>
	<div class="img-container">
		<img mat-card-image class="small-img" src="{{ elem?.poster }}">
		<div *ngIf="elem?.episode" class="top-left-wrapper">
			<p class="top-left-text">{{ elem?.episode }}</p>
		</div>
	</div>
	<mat-card-content *ngIf="hasDescription">
		<div>{{ elem?.shortDesc }}</div>
	</mat-card-content>
</mat-card>