/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif !important;
}

.mat-mdc-raised-button,
.mat-mdc-unelevated-button {
    color: white !important;
}