/* You can add global styles to this file, and also import other style files */
:root {
    --background-color: #00000008;
    --primary-blue: #6bbed9
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif !important;
    background-color: var(--background-color);
}

.mat-mdc-raised-button,
.mat-mdc-unelevated-button {
    color: white !important;
}

/* app-root:last-child {
    height: calc(100% - 70px);
} */